.data__container {
  display: grid;
  grid-template-columns: 2fr 7fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  position: relative;

}
.data__container--right {
  display: grid;
  grid-template-columns: 1fr;
  overflow-x: scroll;
}
.heading__row--left,
.data__row--left {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  border-right: 1px solid #123;
  border-bottom: 1px solid #123;
}
.heading__row--right,
.data__row--right {
  display: grid;
  grid-template-columns: repeat(5, 200px) 400px 200px;
  align-items: center;
  border-bottom: 1px solid #123;
}
.heading__row--left, .heading__row--right {
    background-color: rgba(192, 192, 192, 0.364);
    font-weight: 700;
}
.user--data__item {
  text-align: center;
  padding: 1rem 0;
  border-right: 1px solid #123;
  overflow-y: scroll;
}
.input__checkbox {
  margin: 0 auto;
  border-right: 1px solid #123;
}
.row__user--name {
  text-align: start;
  padding-left: 2rem;
}

.add--form__container {
  /* height: 500px; */
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%);
  background-color: rgb(103, 143, 216);
  border: 1px solid rgba(17, 34, 51, 0.104);
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.add-order--title {
  margin-bottom: 1rem;
}
.form-control {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: rgba(65, 87, 253, 0.46);
  width: 100%;
}
.form-control input, select{
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.5rem;
}
.form--buttons__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-items: center;
}
.form-btn {
  bordeR: 1px solid #123;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-weight:  400;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  cursor: pointer;
}
.form-btn:hover {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
} 
.form-btn:active {
  box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
} 